
/* style barra booleaner */
body {
    margin:0;
}
header {
    background-image: url("./img/pattern.png");
    background-size:30%;
    background-color: #0799ba;
    }

.logo {
    width: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
/* /style barra booleaner */

main {
    margin-left: 3px;
}

/* style sezione titolo e foto */
h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.ScrittoDa {
    color:gray;
    font-size: 18px;
    font-weight: bold;
}
.ScrittoDa .data {
    color: gray;
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: normal;
}
.ScrittoDa span {
    color:#0799ba;
}
.descrizione {
    margin: 0;
}


/* /style sezione titolo e foto */

/* style paragrafo + lista */

#paragrafoELista p span {
    background-color: yellow;
}

#paragrafoELista ul {
    list-style-position: inside;
    margin:0;
    padding:0;
}

/* /style paragrafo + lista */

/* style tabella + paragrafo */

#tabellaEParagrafo table.tabella {

    width:100%;
    text-align: left;
    margin-top: 30px;
    border-spacing:0;
}
    
#tabellaEParagrafo th {
    width: 25%;
}

#tabellaEParagrafo .cellaDescrizione {
    width: 50%;
}

#tabellaEParagrafo thead tr {
    background-color: #2facde;
    color:white;

    
}

#tabellaEParagrafo tbody tr:nth-child(odd) {
    background-color: lightblue;
}

#tabellaEParagrafo p span {
    background-color: yellow;
}

/* /style tabella + paragrafo */

/* style footer */

footer p {
    color: gray;
    margin-bottom: 1px;
    font-weight: bold;
    margin-top: 40px;
}

footer .foto1 {
    background-image: url("./img/monitor.jpg");
    width:312px;
    height:208px;
    font-weight:bold;
    font-size:20px;
    
}

footer .foto1 p {
    padding: 20px;
    color: white;
    margin-top:10px;
}


footer .foto2 {
    background-image: url("./img/graph.jpg");
    width:312px;
    height:208px;
    font-weight:bold;
    font-size:20px;
    
}

footer .foto2 p {
    padding: 20px;
    color: white;
    margin-top:10px;
}

/* /style footer */